<span itemscope itemtype="http://schema.org/Event">
  <span itemprop="startDate" content="2019-08-30T00:00:00Z"></span>
  <span itemprop="endDate" content="2019-09-02T00:00:00Z"></span>
  <span itemprop="performer" content="Extinction Rebellion Manchester"></span>
  <meta itemprop="name" content="XRMCR Northern Rebellion" />
  <span
    itemprop="description"
    content="People in the North of England are rising up and protesting for the global climate emergency.
    Join XRMCR for four days of music, art, training, talks, food, workshops and civil disobedience in Manchester, UK."
  ></span>

  <span
    itemprop="image"
    content="https://xrmcr.org/assets/images/default-event.png"
  ></span>

  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
    <span itemprop="address" content="Manchester, UK"></span>
    <span itemprop="name" content="Manchester City Centre"></span>
  </span>

  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <link itemprop="url" href="{{ page.url }}" />
    <meta itemprop="price" content="0" />
    <meta itemprop="priceCurrency" content="GBP" />
    <meta itemprop="validFrom" content="{{ site.time | date: '%Y-%m-%d' }}" />
    <link itemprop="availability" href="http://schema.org/InStock" />
  </span>
</span>
