---
layout: 'xr-splash'
permalink: '/events'
title: Events Calendar
excerpt: Act now and get involved. Rebels are organising talks, events and actions all the time. Nothing happening near you? Organise something!
---

<a
	href="https://t.me/s/xrcambridge"
	target="_blank"
	class="telegram_floating_button telegramim_button telegramim_shadow telegramim_pulse"
	title="Join announcements channel"
	><i></i> Join announcements channel</a
>

<div class="gridMaker">
	{% for event in site.data.events %} {% include xr-blocks/event-block.html %}
	{% endfor %}
</div>

<div>
	<div
		data-tockify-component="calendar"
		data-tockify-calendar="xrcambridge.org"
	></div>
	<script
		data-cfasync="false"
		data-tockify-script="embed"
		src="https://public.tockify.com/browser/embed.js"
	></script>
</div>
