---
layout: xr-splash
theme: xr_green
permalink: '/get_involved'
title: Become a Rebel
excerpt: Want to get involved with the organisational side of XR Cambridge? This is where to start.
intro:
  - excerpt: The Working Groups below have been set up to oversee, coordinate or organise certain areas of Extinction Rebellion Cambridge. Anyone can join a working group. To find out more, contact the working group coordinator directly. You can be involved as much or as little as you want, and no experience is required. Everyone's ideas are valued.
---

<div>
	<ul class="get-involved fa-ul">
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Join our weekly general meeting
			<b>every Wednesday at the Unitarian Church Hall in Cambridge</b>,
			7:30pm-10pm.
		</li>
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Take part in a Non-Violent Direct Action training. Check
			<a href="/events" target="blank">here</a>
			to see when the next one is scheduled.
		</li>
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Take a look at a
			<a href="../assets/h4e-illustrated-by-jess-agar.pdf" target="_blank"
				>beautifully illustrated version of the Heading for Extinction and What
				to Do About It talk</a
			>
			by Jess Agar.
		</li>
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Make sure you keep in touch on
			<a href="http://facebook.com/xrcambridge" target="blank">Facebook</a>
			and
			<a href="http://twitter.com/xr_cambridge" target="blank">Twitter</a>.
		</li>
	</ul>
</div>

{% include feature_row id="intro" type="center" %} {% include contact_grid.html
%}
