---
layout: xr-splash
theme: xr_green
permalink: '/get_involved'
title: Become a Rebel
excerpt:
intro:
  - excerpt:
---

<a
	href="https://t.me/s/xrcambridge"
	target="_blank"
	class="telegram_floating_button telegramim_button telegramim_shadow telegramim_pulse"
	title="Join announcements channel"
	><i></i> Join announcements channel</a
>

<div>
	<ul class="get-involved fa-ul">
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Join our weekly general meeting
			<b>every Wednesday at the Unitarian Church Hall in Cambridge</b>,
			7:30pm-10pm.
		</li>
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Take part in Non-Violent Direct Action training. Check
			<a href="/events" target="blank">here</a>
			to see when the next one is scheduled.
		</li>
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Take a look at a
			<a href="../assets/h4e-illustrated-by-jess-agar.pdf" target="_blank"
				>beautifully illustrated version of the Heading for Extinction and What
				to Do About It talk</a
			>
			by Jess Agar.
    </li>
    <li>
			<i class="fa-li fas fa-check-square"></i>
      Join the
			<a href="https://uk.rebellion.academy" target="_blank"
				>Rebellion Academy</a
			>, a learning platform for rebels.
		</li>
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Make sure you keep in touch on
			<a href="https://facebook.com/xrcambridge" target="blank">Facebook</a>,
			<a href="https://twitter.com/xr_cambridge" target="blank">Twitter</a> and
      <a href="https://instagram.com/xrcambridge" target="_blank">Instagram</a>.
		</li>
		<li>
			<i class="fa-li fas fa-check-square"></i>
			Join a working group - info below and <a href="/roles">specific roles here.</a>
		</li>
	</ul>
</div>

<div>
	<p>
		Our working groups fall within three groups – <b>actions</b> (focused on
		direct action), <b>movement</b> (focused on growing our movement) and
		<b>support</b> (enabling everything to run smoothly).
	</p>

	<p>
		If you need help or support for an action or event, please have a look
		through the list below and contact the relevant working group.
	</p>

	<p>
		Please contact Affinity Group Support if you are looking to join an affinity
		group and they will try to match you up:
		<a href="mailto:xr_cam_ag_support_wg@protonmail.com"
			>xr_cam_ag_support_wg@protonmail.com</a
		>
	</p>
	<p>
		Working groups are always looking for new members and if you’d like to join,
		contact the email address below. You can also look at the
		<a href="/roles"
			>list of roles working groups are actively looking to fill</a
		>, although don’t feel restricted to this if you just want to get involved.
	</p>
</div>

{% include feature_row id="intro" type="center" %} {% include contact_grid.html
%}
