---
layout: xr-splash
theme: xr_green
permalink: '/get_involved'
title: Become a Rebel
excerpt: Want to get involved with the organisational side of XR Cambridge? This is where to start.
intro:
  - excerpt: The Working Groups below have been set up to oversee, coordinate or organise certain areas of Extinction Rebellion Cambridge. Anyone can join a working group - you don't need to be NVDA trained. To join, find out more, or suggest an idea, contact the working group coordinator directly. You can be involved as much or as little as you want, and no experience is required. Everyone's ideas are valued.
---

{% include feature_row id="intro" type="center" %} {% include contact_grid.html
%}
