---
layout: xr-splash
theme: green
title: Act now! How to get involved in Extinction Rebellion Cambridge
excerpt: |-
  To help you understand where to start especially if you're new to Extinction Rebellion, here’s a guide to different levels of involvement depending on how engaged you would like to be.
permalink: /how-to-get-involved-in-extinction-rebellion-cambridge
#image: '/assets/images/generic-social-media-share.png'
#video:
#  url: '/assets/videos/animal-agriculture-facebook.mp4'
#  width: 1551
#  height: 720
#  type: video/mp4
---

{% capture getting_started_content %}{% include content/getting-started.md %}{% endcapture %}
{{ getting_started_content | markdownify }}

<div class="spaceMaker--8x"></div>
<article itemscope itemtype="https://schema.org/FAQPage">
  <section>
    {%- assign accordion_rainbow = true -%}
    {%- assign accordion_prefix = 'howToGetInvolved' -%}

    {%- for faq in site.data.howToGetInvolvedFaqs -%}
      {%- include faq_block.html -%}
    {%- endfor -%}
  </section>

  <div class="spaceMaker--8x"></div>

  {% capture glossary_intro %}{% include content/glossary-intro.md %}{% endcapture %}
  {{ glossary_intro | markdownify }}

  <section>
    {%- assign accordion_rainbow = true -%}
    {%- assign accordion_prefix = 'glossary' -%}
    {%- for faq in site.data.groupTermGlossary -%}
      {%- include faq_block.html -%}
    {%- endfor -%}
  </section>
</article>
<div class="spaceMaker--8x"></div>

