---
layout: xr-splash
theme: xr_green
permalink: '/roles'
title: Roles
excerpt: Extinction Rebellion Cambridge needs YOU!
intro:
  - excerpt:
---

<div>
	<p>
		The working groups in XR Cambridge are collections of people brought
		together by a common purpose, skill set or interest. Examples include the
		Finance group, which looks after the accounts and all money-related matters,
		the Performers group, which brings together anyone interested in any type of
		performance, and Media & Messaging, who look after the social media accounts
		and liaise with the press etc. A full list of working groups can be found
		here: <a href="/get_involved">xrcambridge.org/get_involved</a>
	</p>

	<p>
		At the moment, we’re looking for Rebels of all kinds to join these working
		groups to make them stronger and more effective. There’s a role for
		everyone, from the technically savvy to the committed luddite, and for those
		with plenty of time to commit to those with just a small amount to offer
		here and there.
	</p>

	<p>
		Please take a look at the role descriptions below, and if you are interested
		in taking any of them on, contact the person listed. If nothing here
		appeals, don’t worry, more roles will be advertised soon - this is just a
		taster! And if any of the groups listed on the website is of interest, make
		contact using the email addresses listed there and someone will get back to
		let you know how you can help.
	</p>

	<p>
		Job shares are possible, and it’s sometimes possible to merge similar roles
		if you’re ready and willing to take on responsibility for more than one.
	</p>
</div>

<div class="roles">
	{% for category in site.data.roles %}
	<div class="working_group">
		<h1>{{ category.working_group }}</h1>
		<p>{{ category.description }}</p>
		<div>
			{% for role in category.roles %}
			<div class="role">
				{% if role.name %}
				<h6>{{ role.name }}</h6>
				<p>{{ role.description }}</p>
				{% endif %}
			</div>
			{% endfor %}
		</div>

		<span>Contact: </span
		><a
			class="gridMaker__button gridMaker__button--small green"
			href="mailto:{{ category.email }}?subject=Contact%20from%20xrcambridge.org"
			target="_blank"
		>
			<i class="fa fa-envelope"></i> {{ category.email }}
		</a>
	</div>

	<hr />
	{% endfor %}
</div>
