---
title: 'Extinction Rebellion Cambridge'
hero_title: 'Truth Demands Action'
subtitle: 'Together we can make a difference'
theme: lemon
layout: xr-home
permalink: /
excerpt: ''
description: "Join the people's rebellion to save life on earth"
image: /assets/images/ir-tom-dorrington.jpg
page_intro:
  - excerpt: ''
get_involved:
  - title: The University of Cambridge and its colleges must divest
    excerpt: "It is time for the University and its colleges to listen totheir constituent parts and the city and world they exist in. We demand, onbehalf of both town and gown, that the University of Cambridge and its 22 non-divested colleges divest their endowment funds immediately."
    url: '/university-divestment'
    btn_label: 'Read our demands'
    btn_class: 'btn--primary'
show_modal: true
---

{% include feature_row id="page_intro" type="center" %} {% include feature_row
id="get_involved" type="center" %}
