---
title: 'Extinction Rebellion Cambridge'
hero_title: 'Truth Demands Action'
subtitle: 'Join the Rebellion'
theme: lemon
layout: xr-home
permalink: /
excerpt: ''
description: "Join the people's rebellion to save life on earth"
image: /assets/images/ir-tom-dorrington.jpg
page_intro:
  - excerpt: '<h3>Read <a href="/2020/03/20/covid19-statement-from-xr.html">XR statement <br>on Covid 19 crisis.</a></h3>
  <img class="logo-insects" width="300" src="assets/images/logo-insects.png" />'
get_involved:
  - title: Act now and Get Involved!
    excerpt: "We are in trouble. Time is running out. As citizens, we don't only have rights, but also responsibilities. We must all work together, each in our best capacities, to build a movement cohesive and resilient enough to fix this. Civil disobedience is our last resort."
    url: '/get_involved'
    btn_label: 'Take action'
    btn_class: 'btn--primary'
show_modal: true
---

{% include feature_row id="page_intro" type="center" %} {% include feature_row
id="get_involved" type="center" %}
