.articlePagination {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;

  @include breakpoint($medium) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

  }
}

.articlePagination__pager,
.articlePagination__pager:visited {
  @extend %button;

  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  color: var(--foreground-color);

  &:hover,
  &:focus,
  &:visited:hover {
    background-color: var(--foreground-color);
    color: var(--background-color);

  }
}

.articlePagination__pager--next {

}

.articlePagination__pager--prev {

}
