.footer {
	margin-top: auto;

	@include colourize();
	background-color: var(--background-color);
	color: var(--color);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 40px 20px;
	align-items: flex-start;

	@include breakpoint($medium) {
		align-items: center;
		padding: 40px;
	}
}

.footer__socialIcons {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;

	@include breakpoint($medium) {
		flex-direction: row;
		margin-bottom: 0;
	}
}

.footer__socialIconsItem {
	display: flex;
	flex-direction: column;
	font-family: var(--heading-font);
	font-size: var(--prominent-font-size);
	color: var(--color);
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 20px;

	@include breakpoint($medium) {
		font-size: 24px;
		margin-right: 30px;
		margin-bottom: 0;

		&:last-of-type {
			margin-right: 0;
		}
	}

	@include breakpoint(1000px) {
		font-size: var(--prominent-font-size);
	}
}

.footer__socialIcons-link {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.footer__socialIconsItemIcon {
	width: 60px;
	display: flex;
	justify-content: center;

	@include breakpoint($medium) {
		width: auto;
		margin-right: 10px;
	}
}

.footer__logo {
	display: none;
	margin-top: 40px;
	margin-bottom: 40px;

	@media screen and (min-width: $medium) {
		display: flex;
	}
}

.footer__copyright {
	display: flex;
	flex-direction: column;
	font-family: var(--body-font);
	font-size: var(--body-font-size);
	color: var(--color);
}
