.xr-modal {
  + .backdrop,
  &::backdrop{
    background: transparentize($brand-contrast, 0.3);
  }

  display: none;
  background-color: #FFF;
  z-index: 10000;
  max-width: 500px;
  max-height: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 20px;
}

.xr-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: #000;
}

.xr-modal__title {
  padding-right: 30px;
  margin-top: 10px;
}
