<section class="socialShare">

    <ul class="socialShare__links">
        <li class="socialShare__link">
            <a class="socialShare__button socialShare__button--twitter"
               href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}"
               onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
               title="Share on Twitter">

                <i aria-hidden="true" class="fab fa-fw fa-twitter"></i>
                <span class="sr-only">Twitter</span>

            </a>
        </li>
        <li class="socialShare__link">
            <a class="socialShare__button socialShare__button--facebook"
               href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}"
               onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
               title="Share on Facebook">

                <i aria-hidden="true" class="fab fa-fw fa-facebook-f"></i>
                <span class="sr-only">Facebook</span>

            </a>
        </li>
    </ul>

</section>
