.btn--social {
	font-size: 1.2em;
}

.btn-donate {
	font-size: 28px;
	background-color: rgba(20, 170, 55, 1);
	color: #fff;
}
.btn-donate:hover {
	background-color: rgba(20, 170, 55, 0.7) !important;
	color: #fff !important;
}
.btn-donate:visited,
.btn-donate:active {
	background-color: rgba(20, 170, 55, 1) !important;
	color: #fff !important;
}
