.local_groups_grid-scrollLink {
  font-family: $header-font-family;
  font-size: $type-size-5;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 3em;
  margin-bottom: 1em;
  margin-top: 0;
}
