@function fixed-ratio($width, $length) {
  @return percentage($length / $width);
}

#youtube_embed,
.youtube_embed {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &--16-by-9 {
      padding-bottom: fixed-ratio(16,9);
    }
  }
