.indented {
	margin-left: 5%;
}
.bank {
	color: black;
	font-weight: bold;
}
.get-involved {
	svg {
		margin-top: 5px !important;
	}
}

.header-link {
  display: none;
}

@include breakpoint($large) {
	.three-demands {
		margin-top: -20px;
	}
}

.demand-text {
	margin-top: -20px;
	font-size: 24px;
	font-weight: 550;
}

.demand-image > img:hover {
	border: 3px solid;
}

.telegram_floating_button {
	position: fixed;
	font-family: 'FUCXED CAPS';
	background: #ffc11e;
	border: 1px solid;
	box-shadow: 1px 1px 5px #ffc11e;
	color: #ffffff;
	border-radius: 50px;
	z-index: 1000;
	right: 10px;
	bottom: 10px;
	/* Mobile styling */
	width: 200px;
	font-size: 12px;
}

@media (min-width: 768px) {
	.telegram_floating_button {
		width: 350px;
		font-size: 20px;
	}

	.r4j-location-announcement {
		img {
			width: 60% !important;
		}
	}
}

/*  Roles page */
.roles {
	margin-bottom: 30px;

	.working_group {
		margin-top: 20px;

		a.green {
			background-color: $xr_warm_yellow;

			&:hover {
				opacity: 0.8;
			}
		}

		.role {
			margin: 5px 0;
			padding: 10px 10px 0;
			background-color: $xr_light_green;
			border: 1px solid black;
			border-radius: 0.5rem;

			p {
				font-size: 18px;
			}
		}
	}

	hr:last-child {
		display: none;
	}
}
