.indented {
	margin-left: 5%;
}
.bank {
	color: black;
	font-weight: bold;
}
.get-involved {
	svg {
		margin-top: 5px !important;
	}
}

.header-link {
  display: none;
}

.post-image {
  width: 100%;
}

.calendar-container {
  margin-top: 20px;
}

@include breakpoint($large) {
	.three-demands {
		margin-top: -20px;
	}
}

.demand-text {
	margin-top: -20px;
	font-size: 24px;
	font-weight: 550;
}

.demand-image > img:hover {
	border: 3px solid;
}

.telegram_floating_button {
	position: fixed;
	font-family: 'FUCXED CAPS';
	background: #ffc11e;
	border: 1px solid;
	box-shadow: 1px 1px 5px #ffc11e;
	color: #ffffff;
	border-radius: 50px;
	z-index: 1000;
	right: 10px;
	bottom: 10px;
	/* Mobile styling */
	width: 200px;
	font-size: 12px;
}

@media (min-width: 768px) {
	.telegram_floating_button {
		width: 350px;
		font-size: 20px;
	}

	.r4j-location-announcement {
		img {
			width: 60% !important;
		}
  }

  .post-image {
	width: 60%;
	float: right;
    margin: 20px;
  }
}

/*  Roles page */
.roles {
	margin-bottom: 30px;

	.working_group {
		margin-top: 20px;

		a.green {
			background-color: $xr_warm_yellow;

			&:hover {
				opacity: 0.8;
			}
		}

		.role {
			margin: 5px 0;
			padding: 10px 10px 0;
			background-color: $xr_light_green;
			border: 1px solid black;
			border-radius: 0.5rem;

			p {
				font-size: 18px;
			}
		}
	}

	hr:last-child {
		display: none;
	}
}

.grid-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 15px;
	width: 100%;
}
.grid-gallery img {
	box-shadow: 0 0 3px;
}

@media (min-width: 768px) {
	.grid-gallery {
		width: 50%;
		float: right;
		margin-left: 15px;
	}
}

/* Signup form */
.check_radio_label {
	text-align: left !important;
	font-size: 14px !important;
}
.check_radio_field > label {
	text-align: left !important;
	padding: 0 0 0 25px !important;
	margin: 4px 20px 0 0 !important;
	font-size: 16px !important;
}
.check_radio_field input {
	top: 5px !important;
}
input[name=commit] {
	font-size: 1.4em !important;
	background-color: #36a826 !important;
	transition: opacity 250ms !important;
}
input[name=commit]:hover {
	opacity: 0.8 !important;
}

/* TEMP - climate kindness */
.ck-green, .ck-blue, .ck-pink {
  margin: 10px 0;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
}

.ck-green {
  background-color: $xr_light_green;
}

.ck-blue {
  background-color: $xr_light_blue;
}

.ck-pink {
  background-color: $xr_pink;
}