.indented {
	margin-left: 5%;
}
.bank {
	color: black;
	font-weight: bold;
}
.get-involved {
	svg {
		margin-top: 5px !important;
	}
}

@include breakpoint($large) {
	.three-demands {
		display: flex;
		margin-top: -20px;

		img {
			padding: 10px;
		}
	}
}
