.blogArticle {
  @extend %body_container;
  @include colourize();

  margin-top: 40px;
  margin-bottom: 40px;
}

.blogArticle__container {
  margin-bottom: 40px;
}

.blogArticle__header {
  border-bottom: 4px solid var(--background-color);
}

.blogArticle__title {
  @extend %title;
}

.blogArticle__meta {
  border-bottom: 4px solid var(--background-color);
  margin-bottom: 40px;
}

.blogArticle__socials {
  margin-bottom: 40px;
}
