/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: table;
  margin-bottom: 1em;
  width: auto;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  box-sizing: border-box;
  overflow-x: auto;
  border: 1px solid $border-color;

  & + table {
    margin-top: 1em;
  }

  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

thead {
  background-color: $brand-contrast;
  border-bottom: 4px solid $brand-primary;
}

th {
  padding: 1em;
  font-family: $header-font-family;
  text-align: left;
  color: $brand-primary;
}

td {
  padding: 1em;
  border-bottom: 1px solid $border-color;
}

tr {
  &:last-child {
    td {
      border-bottom-width: 0;
    }
  }
}

tr,
td,
th {
  vertical-align: middle;
}