<header
	class="bigHeader bigHeader--{{ page.theme | default: 'default' }}"
	style="background-image: url({{ page.image }}"
>
	<div class="bigHeader__strip">
		<div class="bigHeader__container">
			<h1 class="bigHeader__title" itemprop="text">
				{{ page.hero_title | markdownify | strip_html }}
			</h1>
			<h1 class="bigHeader__subtitle" itemprop="text">
				{{ page.subtitle | markdownify | strip_html }}
			</h1>
			<a
				href="/signup"
				class="gridMaker__button bigHeader_button"
				rel="noopener"
			>
				Join Now
			</a>
			<p class="bigHeader__excerpt" itemprop="text">
				{{ page.excerpt | markdownify | strip_html }}
			</p>
		</div>
	</div>
</header>
